<div class="new_comment_area">
  <h2>New Comment Submission</h2>
  <h3>Please fill out the the information below to post a comment:</h3>
</div>

<div class='error_message'>
  <% if @errors %>
    <p>There was a problem posting your comment. Please try again.</p>
    <ul>
      <% @errors.each do |error| %>
        <li>- <%= error %></li>
      <% end %>
    </ul>
  <% end %>
</div>

<% if @answer %>
  <h3>Commenting on answer written by <%= @answer.user.username %></h3>

  <div class='answer body' id='<%= @answer.id %>'>
    <%= @answer.body %>
  </div>

  <form action="/questions/<%= @question.id%>/answers/<%=@answer.id%>/comment" method="post">
    <label for="body">Comment:</label>
    <textarea name="body" rows='5' cols='75'></textarea>
    <br>
    <input type="submit" value= "Post Comment">
  </form>

<% else %>

  <h3>Commenting on: "<%= @question.title %>"</h3>

  <div class='question-body'>
    <%= @question.body %>
  </div>

  <form action="/questions/<%= @question.id%>/comment" method="post">
    <label for="body">Comment:</label>
    <textarea name="body" rows='5' cols='75'></textarea>
    <br>
    <input type="submit" value="Post Comment">
  </form>
<% end %>
