<form class='vote' method='POST' action='/votes'>
  <input type='hidden' name='votable_id' value='<%= answer.id %>'>
  <input type='hidden' name='question_id' value='<%= question.id %>'>
  <input type='hidden' name='votable_type' value='Answer'>
  <button type='submit'>Vote!</button>
</form>

<div class='answer body' id='<%= answer.id %>'>
  <%= answer.body %>
</div>

<div class='footer'>
  <span class='Answer-points' id='<%= answer.id %>'><%= answer.votes.count %> votes</span>
  <%= answer.user.username %> answered this at <%= answer.created_at %>
</div>

<% if answer.comments %>
	<h4>Comments</h4>
	<% answer.comments.each do |comment| %>
	  <%= erb(:'partials/_comment', locals: {comment: comment}) %>
	<% end %>
<% end %>

<div class='comment_link'>
  <a href="/questions/<%= question.id %>/answers/<%= answer.id %>/comment/new"> Comment on this answer</a>
</div>
